DB_USERNAME=postgres
DB_PASSWORD=password
JOB4J_DEVOPS_DB_URL=jdbc:postgresql://job4j_devops_db:5432/job4j_devops
NEXUS_URL=https://nexus.krasobas.com
NEXUS_USERNAME=publisher
NEXUS_PASSWORD=nexus_publisher_pwd
